@font-face {
    font-family: logo;
    src: url(fonts/JoaneDeco-Regular.ttf);
}

@font-face {
    font-family: NAV;
    src: url(fonts/Joane-Light.ttf);
}

html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #f8faf6;
}

.header {

    display: flex;
    background-color: #7195B0;
    width: 100%;
    justify-content: space-between;
    height: 6.07rem;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    position: relative;
    float: right;

}

.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.navbar-list li {
    margin: 0;
    padding: 0 1rem;
    /* Adjust padding as needed */
    font-size: 1.2rem;
    font-family: NAV;
    display: inline-block;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 15px 85px;
    height: 95px;
    width: 8rem;

}

.hem-menu {
    position: relative;
    display: none;
    width: 6rem;
    height: 60px;



}



h1 {

    font-family: "logo";
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 25px;
    color: #F0FFF4;
    margin: 0 auto;
    padding-left: 20%;



}

h2 {
    color: #7195B0;
    margin: 3rem;
    text-align: center;
    font-family: logo;
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 20px;
    background-color: bisque;
    padding: 10px;
    border-radius: 25%;
}

main {
    width: 100%;
    height: 90%;

}

.form {
    display: flex;
    height: 850px;
    justify-content: center;
    justify-content: space-around;
}

.form-container {
    display: flex;
    justify-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-container input {
    height: 45px;
    width: 95%;
    background-color: #fefefe;
    margin: 15px;
    border-radius: 2.5%;

}

p.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    width: 55%;
    text-align: center;
    font-size: 3rem;
    color: #7195B0;
    line-height: 3rem;
    height: 20rem;

    overflow: auto;
}

input::placeholder {
    text-align: center;
    font-family: NAV;
    font-size: 1rem;
    color: #7195B0;
}

.form-button {
    margin: 15px auto;
    height: 1.5rem;
    width: 33%;
    background-color: #7195B0;

    color: #F0FFF4;
    font-family: logo;
    font-weight: 800;
    letter-spacing: 5px;
    border: 1px solid #F0FFF4;
    border-radius: 5%;
}

.description {
    width: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description label {
    color: #7195B0;
    margin: 20px;
    text-align: center;
    font-family: NAV;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 4px;
    word-spacing: 6px;
}

#desc {
    width: 100%;
}

.profile {
    display: block;
    margin: 55px auto;
    width: 280px;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}




.aboutp {

    margin: auto;
    width: 55%;
    text-align: center;
    font-size: 1.5rem;
    color: #7195B0;
    line-height: 3rem;
    height: 20rem;
    padding-bottom: 55px;
    overflow: auto;


}

.aboutp::first-letter {
    -webkit-initial-letter: 4 1;
    initial-letter: 1.8 1;
    font-family: logo;
    vertical-align: middle;
}

div a .work-link {
    font-family: NAV;
    color: #cccccc;
    background-color: #cccccc;
}

/*Footer style*/
footer {
    display: flex;
    justify-content: center;
    background-color: #7195B0;
    min-width: 100%;
    max-height: 6rem;

}


.flex-container {
    display: flex;

    width: 100%;
    justify-content: center;
}

.flex-container ul li {
    display: inline-block;
    margin: 15px;
}

.link {
    height: 3rem;
    width: 3rem;
}

.copy-text {
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    color: #f8faf6;


}


/*sound page css*/
article {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;


}

article p {
    margin: auto;



}

.intro-sound {
    text-align: center;
    margin-top: 35px;
    width: 55%;
    height: 90%;
    font-size: 1.5rem;
    color: #7195B0;
    line-height: 3rem;
    height: 15rem;

}

.intro-sound::first-letter {
    -webkit-initial-letter: 4 1;
    initial-letter: 1.6 1;
    font-family: logo;
}

.work-container {
    height: 450px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.project-container {

    margin: 5px;
    max-height: 380px;
    align-items: center;
    width: 240px;
    border-radius: 5%;
    background-color: #7195B0;
}

.project-thumb {
    margin: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    height: 55%;
    width: 85%;
    opacity: 0.8;

}

iframe {
    height: 33%;
}



.navbar-list li a:hover {
    color: #B08C71;
}





.navbar-list li a:active {
    font-size: 1.1rem;
    padding: 0 0.15rem;
    color: #A55A7E
}

.project-container #webgl_iframe {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    width: 100%;
}

#webgl_iframe {
    margin: auto;
    background-color: #7195B0;
}

/*folded-menu*/
.folded-menu {
    position: absolute;

    z-index: 99;
    background-color: #7195B0;
    height: 350px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    display: none;
    animation-name: fade;
    animation-duration: 1s;
    /* Adjust the duration as needed */
}



.navbar-list-folded li {

    margin: 0;
    padding: 0 1rem;
    /* Adjust padding as needed */
    font-size: 1.2rem;
    font-family: NAV;
    padding: 15px;

}

.navbar-list-folded li a {
    color: #F0FFF4;
}

@keyframes fade {
    from {
        opacity: 0;
        /* Start with opacity 0 (invisible) */
    }

    to {
        opacity: 1;
        /* End with opacity 1 (fully visible) */
    }
}

/*media queries*/
@media only screen and (min-width: 1200) {
    .folded-menu {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar {
        display: none;
    }

    .hem-menu {
        display: inline;
    }


    h1 {
        padding-left: 10%;
    }

}

@media only screen and (max-width: 950px) {
    .work-container {
        flex-flow: column nowrap;
    }

    .project-container {
        overflow: auto;
    }

    .intro-sound {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}

@media only screen and (max-width: 850px) {
    h1 {
        font-size: 2.2rem;
    }

}

@media only screen and (max-width: 714px) {
    .first-name {
        display: none;
    }

    h1 {
        padding-left: 0;
    }



}

@media only screen and (max-width: 560px) {
    .hem-menu {
        height: 2rem;
        width: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p.contact {
        font-size: 2rem;
    }

}

@media only screen and (max-width:480px) {
    h1.title span {
        font-size: 1.2rem;

    }
}